@media (max-width: 767px) {
    .main-header {
        margin: 0;

        h1 {
            margin: 0;
            text-align: center
        }
    }

    main {
        .add-element-box {
            margin: 10px auto;

            input.new-task {
                width: 80vw;
                font-size: 15px;
            }

            button.add-note-button {
                display: none;
            }
        }


        .main-box {
            flex-direction: column;

            .tasks-box {
                flex-direction: column;
            }
        }
    }
}