@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,900');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url(/images/beverage-blank-break-997719.jpg);
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

}

.main-header {
    padding: 10px 0;

    h1 {
        margin-left: 30px;
        text-transform: uppercase;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;

        span.header-description {
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-style: italic;
            text-transform: lowercase;
        }
    }
}



main {
    .add-element-box {
        margin: 20px auto;

        input.new-task {
            height: 50px;
            width: 400px;
            border-radius: 25px;
            border: 1px solid gray;
            box-shadow: inset 0px 0px 25px -6px rgba(0, 0, 0, 0.75);
            font-size: 20px;
            padding: 0px 5px;
        }

        button {
            height: 50px;
            width: 50px;
            border-radius: 25px;
            border: 1px solid gray;
            color: white;
            font-size: 20px;
        }

        button.add-task {
            background-color: #558B2F;
        }

        button.add-note-button {
            background-color: #FF5722;
        }
    }

    .main-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .tasks-box {
            flex: 3;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            font-size: 18px;
            font-family: 'Roboto', sans-serif;

            .tasks-area {
                background-color: rgba(0, 188, 212, 0.8);
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.75);

                h4 {
                    margin: 5px;
                }

                span.tasks-number,
                span.done-tasks-number {
                    font-weight: 300;
                    font-style: italic;
                }

                ul {
                    padding-left: 0;
                    width: 300px;

                    li {
                        list-style: none;
                        background-color: antiquewhite;
                        padding: 20px 5px 5px;
                        margin: 5px;
                        position: relative;

                        i {

                            position: absolute;

                            &:hover {
                                transform: scale(1.2);
                            }
                        }

                        i.done {
                            color: green;
                            top: 3px;
                            right: 30px;
                        }

                        i.delete {
                            color: red;
                            top: 3px;
                            right: 5px;
                        }
                    }
                }
            }
        }

        .actual-data-box {
            flex: 1;
            width: 300px;
            margin: 0 auto;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 5px;
            border-radius: 5px;
            color: white;
            font-family: 'Roboto', sans-serif;

            h3 {
                font-weight: 300;
                margin-bottom: 5px;
            }

            span.actual-day,
            span.actual-date,
            span.actual-time {
                font-size: 35px;
            }

            span.actual-day {
                text-transform: capitalize;
                font-style: italic;
            }
        }

    }


}

// Style for notes board
.sticker {
    padding-top: 20px;
    background-color: #FF8A65;
    min-height: 100px;
    min-width: 100px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #FF7043;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    &:hover {
        z-index: 1;
    }

    .bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        background: #FF8A65;
        width: 100%;

        &:hover {
            cursor: pointer;
            background: #BF360C;
        }

        i.delete-note-btn {
            position: absolute;
            top: 2px;
            right: 2px;
            color: white;

            &:hover {
                transform: scale(1.2);
            }

        }

    }

    textarea {
        padding: 3px 10px;
        box-sizing: border-box;
        min-height: 100px;
        min-width: 100px;
        background: transparent;
        border: none;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        outline: none;
    }
}